*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #0F172A;
  --dark-light: #1E293B;
  --light: #F8FAFC;
}

body {
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  font-family: 'Prompt', sans-serif;
  padding: 20px;
  color: var(--light);
  background-color: var(--dark);
  background-image: url('./assets/bgc.jpg');
  background-attachment: fixed;
}